In [7]:
# Import Matplotlib, pandas, and plotly
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px

In [ ]:
df1 = pd.read_csv('data/brasil-real-estate-1.csv')
df1.head()

In [ ]:
df1.info()

In [ ]:
df1.dropna(inplace=True)

In [ ]:
df1.shape

In [ ]:
#Use the "lat-lon" column to create two separate columns in df1: "lat" and "lon"
df1[['lat','lon']]=df1['lat-lon'].str.split(',',expand=True).astype(float)
df1.info()

In [ ]:
#Use the "place_with_parent_names" column to create a "state" column for df1
df1['state']=df1['place_with_parent_names'].str.split('|',expand=True)[2]
df1.shape

In [ ]:
#Transform the "price_usd" column of df1 so that all values are floating-point numbers instead of strings.
df1['price_usd']=df1['price_usd'].str.replace('$','').str.replace(',','').astype(float)
df1.info()

In [ ]:
#Drop the "lat-lon" and "place_with_parent_names" columns from df1
df1.drop(['lat-lon'],inplace=True,axis=1)
df1.drop(['place_with_parent_names'],inplace=True,axis=1)

In [ ]:
#scatter plot
fig = px.scatter_mapbox(
    df,
    lat='lat',
    lon='lon',
    center={"lat": -14.2, "lon": -51.9},  # Map will be centered on Brazil
    width=600,
    height=600,
    hover_data=["price_usd"],  # Display price when hovering mouse over house
)

In [ ]:
#statistics info
df[['area_m2', 'price_usd']].describe()

In [ ]:
# Build histogram
plt.hist(df['price_usd'])


# Label axes
plt.xlabel('Price [USD]')
plt.ylabel('Frequency')

# Add title

plt.title('Distribution of Home Prices')

In [ ]:
# Build box plot
plt.boxplot(df['area_m2'],  vert=False)


# Label x-axis
plt.xlabel('Area [sd meters]')

# Add title
plt.title('Distribution of Home Sizes')

In [ ]:
# Build bar chart, label axes, add title
mean_price_by_region.plot(kind='bar', 
                          xlabel='Region', 
                          ylabel='Mean Price [USD]', 
                          title='Mean Home Price by Region')